/* CSS RESET adjusted for this challenge*/
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, p, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2 {
  text-wrap: balance;
}

img {
  max-width: 100%;
  display: block;
}

/* CUSTOM PROPERTIES */
:root {
    /* PRIMITIVES */
    /* Color */
    --primitive-neonGreen: hsl(75, 94%, 57%);
    --primitive-white: hsl(0, 0%, 100%);
    --primitive-grey: hsl(0, 0%, 20%);
    --primitive-darkGrey: hsl(0, 0%, 12%);
    --primitive-black: hsl(0, 0%, 8%);

    /* Typography */
    /* font family */
    --primitive-fontFamily: 'Inter', sans-serif;
    /* font size */
    --primitive-fs14: .875rem;
    --primitive-fs24: 1.5rem;
    /* font weight */
    --primitive-fw400: 400;
    --primitive-fw600: 600;
    --primitive-fw700: 700;

    /* Spacing */
    --primitive-size-4: .25rem;
    --primitive-size-12: .75rem;
    --primitive-size-16: 1rem;
    --primitive-size-24: 1.5rem;
    --primitive-size-40: 2.5rem;

    /* TOKENS */
    /* Color */
    --clr-bodyBG: var(--primitive-black);
    --clr-bodyTxt: var(--primitive-white);
    --clr-cardBG: var(--primitive-darkGrey);
    --clr-cardLocation: var(--primitive-neonGreen);
    --clr-cardLinkBG: var(--primitive-grey);
    --clr-cardLinkBgHover: var(--primitive-neonGreen);
    --clr-cardLinkTxtHover: var(--primitive-grey);

    /* Typography */
    --ff-body: var(--primitive-fontFamily);
    --fs-cardName: var(--primitive-fs24);
    --fw-cardName: var(--primitive-fw600);
    --fs-cardLocation: var(--primitive-fs14);
    --fw-cardLocation: var(--primitive-fw700);
    --fs-cardDescription: var(--primitive-fs14);
    --fs-cardLink: var(--primitive-fs14);
    --fw-cardLink: var(--primitive-fw700);
    --fs-attribution: clamp(0.6875rem, 0.6223rem + 0.3261vi, 0.875rem);

    /* Spacing */
    --m-bodyMobile: var(--primitive-size-24);
    --gap-cardMobile: var(--primitive-size-24);
    --gap-cardHeader: var(--primitive-size-4);
    --gap-cardLink: var(--primitive-size-16);
    --p-cardMobile: var(--primitive-size-24);
    --p-cardDesktop: var(--primitive-size-40);
    --p-cardLink: var(--primitive-size-12);
}

/* LAYOUT */

/* Centering content for the Challenge */
body {
  display: grid;
  grid-template-rows: 1fr auto;
}

main {
  align-self: center;
}

 /* ---------------------------------- */

@font-face {
  font-family: 'Inter';
  font-weight: 400 600 700;
  font-style: normal;
  src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
  font-family: var(--ff-body);
  background: var(--clr-bodyBG);
  color: var(--clr-bodyTxt);
  margin-inline: var(--m-bodyMobile);
}

.card,
.card__header,
.card__social {
  display: flex;
  flex-direction: column;
}

.card {
  align-items: center;
  gap: var(--gap-cardMobile);
  max-width: 24rem;
  margin-inline: auto;
  padding: var(--p-cardMobile);
  background: var(--clr-cardBG);
  border-radius: 12px;
  text-align: center;
}

@media (width >= 26.56em) {
  .card {
    padding: var(--p-cardDesktop);
  }
}

.card__profile-img {
  border-radius: 50%;
}

.card__header {
  gap: var(--gap-cardHeader);
}

.card__header-name {
  font-size: var(--fs-cardName);
  font-weight: var(--fw-cardName);
}

.card__header-location {
  color: var(--clr-cardLocation);
  font-size: var(--fs-cardLocation);
  font-weight: var(--fw-cardLocation);
}

.card__desc {
  font-size: var(--fs-cardDescription);
}

.card__social {
  gap: var(--gap-cardLink);
  width: 100%;
}

.card__social-link {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: var(--p-cardLink);
  background: var(--clr-cardLinkBG);
  color: inherit;
  text-decoration: none;
  font-size: var(--fs-cardLink);
  font-weight: var(--fw-cardLink);
  border-radius: 8px;
}

.card__social-link:hover,
.card__social-link:focus {
  background: var(--clr-cardLinkBgHover);
  color: var(--clr-cardLinkTxtHover);
}

.attribution {
  font-size: var(--fs-attribution);
  font-weight: var(--primitive-fw700);
  text-align: center;
}

.attribution a {
  color: var(--primitive-neonGreen);
  text-underline-offset: 2px;
}